<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <conversionRule conversionWord="traceID" converterClass="kamon.instrumentation.logback.tools.TraceIDConverter" />
    <conversionRule conversionWord="spanID" converterClass="kamon.instrumentation.logback.tools.SpanIDConverter" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{"yyyy-MM-dd'T'HH:mm:ss,SSS"} %level - %thread | %traceID | %spanID | %X{X-Custom-Trace-Id} | %X{X-Custom-Span-Id} | ${HOSTNAME} | %X{User-Agent} | %X{X-Forwarded-For} | %message%n
            </pattern>
        </encoder>
    </appender>


    <appender name="asyncConsole" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console"/>
    </appender>

    <logger name="play" level="INFO"/>
    <logger name="application" level="DEBUG"/>

    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="asyncConsole"/>
    </root>

</configuration>
